html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  width: 100%;
  background-color: darkgreen;
  padding-left: 30px;
  padding-right: 10px;
}

.logo {
  display: inline-block;
}

.nav-links {
  list-style: none;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.line {
  text-decoration: underline;
}
